@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.complaintform{
  margin: 0;
  padding: 0;
  background: linear-gradient(120deg,#2980b9, #8e44ad);
  height: 150vh;
  overflow: hidden;
}

.complaintform-block{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3vh ;

}

.complaintform-container {
  
  max-width: 1100px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  padding-bottom: 15px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.complaintform-title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.complaintform-title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.complaintform-content form .complaintform-user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .complaintform-user-details .complaintform-input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

form .complaintform-input-box span.complaintform-details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.complaintform-user-details .complaintform-input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.complaintform-user-details .complaintform-input-box select {
  height: 45px;
  width: 40vw;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.complaintform-user-details .complaintform-input-box textarea {
  height: 45px;
  width: 40vw;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.complaintform-user-details .complaintform-input-box input:focus,
.complaintform-user-details .complaintform-input-box input:valid {
  border-color: #9b59b6;
}

form .complaintform-gender-details .complaintform-gender-title {
  font-size: 20px;
  font-weight: 500;
}

form .complaintform-category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}

form .complaintform-category label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

form .complaintform-category label .complaintform-dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

#dot-1:checked ~ .complaintform-category label .one,
#dot-2:checked ~ .complaintform-category label .two,
#dot-3:checked ~ .complaintform-category label .three {
  background: #9b59b6;
  border-color: #d9d9d9;
}

form input[type="radio"] {
  display: none;
}

form .complaintform-button {
  height: 45px;
  margin-top: 11px;
}

form .complaintform-button input {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

form .complaintform-button input:hover {
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}

@media (max-width: 584px) {
  .complaintform-container {
    max-width: 100%;
  }

  form .complaintform-user-details .complaintform-input-box {
    margin-bottom: 15px;
    width: 100%;
  }

  form .complaintform-category {
    width: 100%;
  }

  .complaintform-content form .complaintform-user-details {
    max-height: 300px;
    overflow-y: scroll;
  }

  .complaintform-user-details::-webkit-scrollbar {
    width: 5px;
  }
}

@media (max-width: 459px) {
  .complaintform-container .complaintform-content .complaintform-category {
    flex-direction: column;
  }
}
