.footer {
    width: 100vw;
    height: 5vh;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:black;
    color: white; /* Add any desired background color for the footer */
  }
  